<IfModule mod_rewrite.c>
    RewriteEngine On
    # Define el subdirectorio donde está tu app
    RewriteBase /encuesta-2025-1
    # Asegúrate de que index.html no sea reescrito
    RewriteRule ^index\.html$ - [L]
    # Redirige todas las rutas que no sean archivos o directorios a index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /encuesta-2025-1/index.html [L]
</IfModule>
